@import "partials/stylesheet";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $font-color;
}

button {
  background-color: $primary-blue;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // font-size: 1rem;
  cursor: pointer;
}

.content {
  position: relative;
  background-image: url("../assets/img/launch-home.png");
  background-repeat: no-repeat;
  background-position: top 8rem left 2.5rem;
  background-size: 533.54px 684px;
  // display: flex;
  // flex-direction: column;
  padding: 2.5rem;
}
.image {
  width: 40vw;
  height: 80vh;
  position: relative;
}
