@import "partials/stylesheet";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $font-color;
}

button {
  background-color: $primary-blue;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // font-size: 1rem;
}
