@import "../../styles/App.scss";

.launch {
  width: 100%;
  //   display: flex;
  //   flex-direction: column;

  &__header {
    float: right;
    margin-bottom: 0.8125rem;
    // justify-content: flex-end;
  }
  &__button {
    width: 9.75rem;
    height: 2.6875rem;
    &-icon {
    }
  }
  &__list {
    float: right;
    // justify-content: flex-end;

    &-item {
      width: 45.4375rem;
      height: 5rem;
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 1rem;
      margin-bottom: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      & div:last-child {
        margin-left: auto;
        // float: right;
      }

      &-number {
        width: 4.75rem;
        font-size: 2.5em;
        font-weight: 500;
        margin-right: 1.5rem;
      }
      &-flight {
        font-size: 2em;
        font-weight: 500;
      }
      &-end {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-date {
        font-size: 1em;
        font-weight: 400;
      }

      &-rocket {
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  }
}
